@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* general styles for the page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #811735;
    --secondary-color: #DA58A6;
    --tertiary-color: #EDDEDE;
    --quaternary-color: #B33F71;
    --quinary-color: #01110A;
    --width: 100%;
    --max-width: 600px;
    --border-radius: 8px;
    --main-font: "Trirong", serif;
    --border-style: double;
    --primary-cursor: pointer;
}

body {
    background: url("../images/notebook.jpg") center center/cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    font-family: "Fira Sans Condensed", serif;
    color: var(--quinary-color);
    width: var(--width);
    overflow-y: auto;
}

/* header elements styles */
header {
    background-image: linear-gradient(var(--primary-color), var(--quaternary-color), var(--secondary-color), var(--tertiary-color));
    background-color: var(--primary-color);
    position: fixed;
    height: auto;
    display: flex;
    width: var(--width);
    max-width: var(--max-width);
    font-family: var(--main-font);
    font-size: small;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 1em;
    align-self: center;
}

header img {
    height: 2em;
    width: auto;
    padding-top: 1rem;
}

header button {
    font-size: large;
    font-family: var(--main-font);
    background-color: transparent;
    border-style: none;
    cursor: var(--primary-cursor);
}

/* main content styles */
main {
    margin: 2rem auto;
    padding: 3rem 0;
    background-color: var(--tertiary-color);
    width: var(--width);
    max-width: var(--max-width);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
}

/* footer styles */
footer {
    background-color: var(--primary-color);
    height: 3rem;
    width: var(--width);
    max-width: var(--max-width);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    border-style: var(--border-style) none none none;
    border-color: var(--tertiary-color);
    align-self: center;
}

footer button {
    font-family: var(--main-font);
    font-size: large;
    background-color: var(--quinary-color);
    color: var(--tertiary-color);
    height: fit-content;
    padding: 0 5px;
    border-style: var(--border-style);
    border-radius: var(--border-radius);
    border-width: 3px;
    border-color: var(--primary-color);
    cursor: var(--primary-cursor);
}

/* style for popup window for creating new list */
.create-list {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 300px;
    background-color: var(--quaternary-color);
    z-index: 11;
    border-radius: 20px;
    border-style: var(--border-style);
    border-color: var(--tertiary-color);
    display: none;
}

.create-list-header {
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;
    font-size: small;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    position: relative;
}

.list-form {
    text-align: center;
    line-height: 25px;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-button {
    display: none;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border-style: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px var(--quinary-color);
    margin-left: auto;
    cursor: var(--primary-cursor);
}

.close-button-disabled {
    display: block;
    background-color: gray;
    border-style: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-left: auto;
}

.info-on-close {
    display: none;
    font-size: 12px;
    position: absolute;
    top: 25px;
    left: 50px;
    background-color: var(--tertiary-color);
    border-radius: var(--border-radius);
    padding: 3px;
    width: max-content;
    opacity: 0;
    transition: opacity 0.3s;
}

.header.show .info-on-close {
    display: block;
    opacity: 1;
}

.create-list-button {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    border-style: none;
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 5px var(--quinary-color);
    width: 100px;
    height: 26px;
    margin-top: 35px;
    cursor: var(--primary-cursor);
}

.create-list-button-disabled {
    display: none;
    background-color: gray;
    color: var(--tertiary-color);
    border-style: none;
    border-radius: var(--border-radius);
    width: 100px;
    height: 26px;
    margin-top: 35px;
}

.tooltip input,
.category {
    width: 150px;
    padding: 0.2em;
}

/* tooltip for when list name is already taken */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 150px;
    background-color: var(--quinary-color);
    color: var(--tertiary-color);
    text-align: center;
    border-radius: var(--border-radius);
    padding: 5px;
    position: absolute;
    z-index: 99;
    bottom: 125%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip.show .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* item insertion form */
.add-items {
    padding: 1em;
}

.add-items input {
    width: 32%;
    padding: 0.2em;
}

.add-item {
    display: none;
    padding: 2px;
    background-color: #29c2d6;
    border-style: var(--border-style);
    border-radius: var(--border-radius);
    margin-top: 5px;
    cursor: var(--primary-cursor);
}

.add-item-disabled {
    padding: 2px;
    background-color: gray;
    border-style: var(--border-style);
    border-radius: var(--border-radius);
    margin-top: 5px;
}

.info-on-price {
    display: none;
    font-size: 12px;
    position: absolute;
    left: 45%;
    background-color: var(--quinary-color);
    color: var(--tertiary-color);
    border-radius: var(--border-radius);
    padding: 3px;
    width: max-content;
    transition: opacity 0.3s;
    opacity: 0;
}

.add-items.show .info-on-price {
    display: block;
    opacity: 1;
}

/* items display */
.list-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.2fr;
    padding: 0.2em;
    margin-left: 20px;
    margin-right: 10px;
    word-break: break-all;
}

.item-name,
.item-price,
.item-place {
    text-align: center;
}

.list-items-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.2fr;
    margin: 10px;
    font-weight: 700;
}

/* the whole list container */
.list {
    display: none;
    height: fit-content;
    width: 100%;
}

.list-header {
    display: flex;
    margin: 0 10px;
    flex-wrap: wrap;
}

.list-header h2 {
    word-break: break-all;
}

.list-header h3 {
    font-size: small;
}

.list-separator {
    border-color: var(--quinary-color);
    border-bottom-color: var(--primary-color);
    margin: 10px;
}

/* delete item button */
.delete-item {
    text-align: end;
    cursor: var(--primary-cursor);
}

/* dropdown menu for created lists */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    font-size: medium;
    z-index: 2;
    background-color: rgba(1, 17, 10, 0.9);
    color: var(--tertiary-color);
    padding: 10px 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
    width: max-content;
    max-width: 150px;
    max-height: 200px;
    overflow: auto;
}

/* delete list popup */
.delete-list-popup {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 110px;
    background-color: var(--quaternary-color);
    z-index: 11;
    border-radius: 20px;
    border-style: var(--border-style);
    border-color: var(--tertiary-color);
    text-align: center;
}

.delete-list-popup p {
    padding: 10px 0;
}

.delete-list-popup button {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border-style: none;
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 5px var(--quinary-color);
    width: 50px;
    height: 26px;
    margin: 0 10px;
    position: relative;
    cursor: var(--primary-cursor);
}

.overlay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--width);
    height: 100%;
    background: rgb(0, 0, 0, 0.8);
    z-index: 10;
}

@media screen and (min-width: 992px) {

    /* dropdown menu for created lists */
    .dropdown button:hover {
        transform: scale(1.1);
    }

    .dropdown-content div:hover {
        color: var(--secondary-color);
    }

    /* add item button */
    .add-item:hover {
        transform: scale(1.1);
    }

    /*footer buttons */
    footer button:hover {
        transform: translate(0, -2px);
        background-color: var(--tertiary-color);
        color: var(--quinary-color);
    }

    /* yes and no buttons for delete list popup */
    .delete-list-popup button:hover {
        transform: translate(0, 1px);
        background-color: var(--tertiary-color);
        color: var(--quinary-color);
    }

    /* create list button */
    .create-list-button:hover,
    .close-button:hover {
        display: block;
        transform: translate(0, 2px);
        background-color: var(--tertiary-color);
        color: var(--quinary-color);
    }

    /*delete item button */
    .delete-item:hover {
        transform: scale(1.1);
    }
}